<div>
    <h3>Profile</h3>
  </div>
  
  <table class="table table-sm table-striped" >
  
    <!-- <tr>
      <th>ID</th>
      <td>{{b.id}}</td>
    </tr> -->
    <tr>
      <th>Email</th>
      <td></td>
    </tr>
    <tr>
      <th>Company Name</th>
      <td></td>
    </tr>
  
    <tr>
      <th>Company Category</th>
      <td></td>
    </tr>
  
    <tr>
      <th>Company Address</th>
      <td></td>
    </tr>
  
    <tr>
      <th>Phone</th>
      <td></td>
    </tr>
  
    <tr>
      <th>Trade License No</th>
      <td></td>
    </tr>
  
    <tr>
      <th>Description</th>
      <td></td>
    </tr>
  
    <tr>
      <th>Product Specification</th>
      <td></td>
    </tr>
    <tr>
      <td>
  
        <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">
          Edit
        </button>
      </td>
    </tr>
  
  </table>