<!-- 
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-4">
      <ul class="Ulist" >
        <li routerLink="/supply/sumbit" class="menuButton" style="cursor:pointer">Submission</li>
        <li routerLink="/supply/stender" class="menuButton" style="cursor:pointer">Tender</li>
    
        <li></li>
      </ul>


      </div>

      <div class="cell large-8">
      <router-outlet></router-outlet>
      </div>

    </div> -->


    
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-2 menu-section">
          <div class="menu">
      <ul class="" >
    
        <li routerLink="/supply/sumbit" style="cursor:pointer;list-style-type: none">Submission</li>
        <li routerLink="/supply/stender" style="cursor:pointer;list-style-type: none">Tender</li>
        <li routerLink="/supply/profile" style="cursor:pointer;list-style-type: none">Create Profile</li>
        <li routerLink="/supply/View" style="cursor:pointer;list-style-type: none">View Profile</li>
       
      </ul>
    </div>

      </div>

      <div class="cell large-10 contentBox">
     <router-outlet></router-outlet>
      </div>

    </div>
    </div>