
<div>
    <h4>Current Project </h4>
</div>
<table class="table table-sm table-striped" *ngFor="let p of buyerTender">



    <tr>
        <th>Tender Reference No.</th>
        <td>{{p.tenderRefNumber}}</td>
    </tr>
    <tr>

    <tr>
        <th>Tender Title</th>
        <td>{{p.productTitle}}</td>
    </tr>
    <tr>

    <tr>
        <th>Tender Category</th>
        <td>{{p.categoryType}}</td>
    </tr>
    <tr>
        <th>Project Start Date</th>
        <td>{{p.beginDate}}</td>
    </tr>
    <tr>
        <th>Project End Date</th>
        <td>{{p.endDate}}</td>
    </tr>

    <tr>
        <th>Current Status</th>
        <td>{{p.statusType}}</td>
    </tr>
    <tr>
        <th>Project Cost</th>
        <td>{{p.pTotalCost}}</td>
    </tr>

    <tr>
        <td>

            <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">
                Delete
            </button>
        </td>
    </tr>

</table>