
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-2 menu-section">
          <div class="menu">
      <ul class="" >
    
        <li routerLink="/admin/buyer/ctender" style="cursor:pointer;list-style-type: none">Create Project</li>
        <!-- <li routerLink="/admin/buyer/dashboard" style="cursor:pointer;list-style-type: none">Dashboard</li> -->
        <li routerLink="/admin/buyer/tenders" style="cursor:pointer;list-style-type: none">Published Tenders</li>
        <li routerLink="/admin/buyer/Sprofile" style="cursor:pointer;list-style-type: none">Supplier Profile</li>
        <li routerLink="/admin/buyer/bid" style="cursor:pointer;list-style-type: none">Bidder-List</li>
        <li routerLink="/admin/buyer/email" style="cursor:pointer;list-style-type: none">Send-Email</li>
       
      </ul>
    </div>

      </div>

      <div class="cell large-10 contentBox">
     <router-outlet></router-outlet>
      </div>

    </div>
    </div>



    <!-- <div class="row">
      <div style="float:left; margin-top: 30px;" class="col-md-2">
       
        <div class="menu">
          <ul >
            <li routerLink="/ctender"  style="cursor:pointer;list-style-type: none;">Create Project</li>
            <li routerLink="/ctender" style="cursor:pointer;list-style-type: none;">View Project</li>
          </ul>
        </div>
     
      </div>

      <div style="padding:20px; float:left;" class="col-md-10 ">
       
          <div class="top-heading">
          
            <div class="text">
              <router-outlet></router-outlet>
            </div>
            
          </div>
       
      </div>

    </div> -->