<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary bar">
    <a class="navbar-brand" href="#">EProcurement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" style="cursor: pointer">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" style="cursor: pointer">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tender" style="cursor: pointer">Tender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer">Notification</a>
        </li>
  
  
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-2">
  
    </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  
    <div class="col-md-2"></div>
  </div>
  </div> -->




<!-- 
  <li  *ngIf="service.isAuthenticated()" style="cursor: pointer;float: right;" >
    <a (click)="onUserOptionShow()" style="color: #fff;">Click</a>
      <div class="" style="width: 200px" id="userOptionPopUp" *ngIf="isUserOptionShow">
        <div class="">
            <ul>
            
                <li>
                    <a [routerLink]="['/messages']" [class.alert]="authorMessage.length">Message
                        ( {{ authorMessage.length }} )</a>
                </li>
             
                <li class="divider">
                    <a [routerLink]="['/profile', userDetail?.usr_username]">My Profile</a>
                </li>
                <li>
                    <a [routerLink]="['/manage-post']">Manage Post</a>
                </li>
            
                <li>
                    <a style="cursor: pointer;float: right;" (click)="Logout()">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
  </li> -->


<h1>home works</h1>


  
 

<!-- <div class="bg">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" style="margin-top:30px;">
      <router-outlet></router-outlet>

      <div class="col-md-2"></div>
    </div>
  </div>
</div> -->