<div style="margin-left:10px;">
    <br>
    <h3>Contact Us</h3><br>
    <h5>Office of the Company</h5>
    <br>

    <table>
        <tr>
            <th>Company Name:</th>
            <td><h5>A leading Compuny LTD.</h5></td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>Panthapoth,Dhaka</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>02-345682,01917-660786</td>
        </tr>
        <tr>
            <th>Fax:</th>
            <td>(880)-2-861493</td>
        </tr>

        <tr>
            <th>Email:</th>
            <td>LeaderWay@gamil.com</td>
        </tr>
    </table>

</div>